@function color($color-name) {
	@return var(--color-#{$color-name});
}

@function gradient($color-name) {
	@return var(--gradient-#{$color-name});
}

@function yiq-color($color) {
	$r: red($color);
	$g: green($color);
	$b: blue($color);
  
	$yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

	@if ($yiq >= 150) {
		@return color(text-dark);
	}
	@else {
		@return color(text-light);
	}
}