$fa-font-path: '../../node_modules/font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:400,700|Caveat:400,700|Merienda:400,700|Ubuntu+Mono');

@import 'functions';
@import 'variables';

$colors: (
	background: #333333,
	primary: rgb(50, 146, 55),
	text: #eaeaea,
	text-light: #eaeaea,
	text-dark: #333,
	info: #406E8E,
	celadon: #ADF7B6,
	warning: #FFEE93,
	danger: #FFC09F,
	dim-grey: #69626D,
);

@import 'buttons';
@import 'form';
@import 'toolbar';
@import 'background';

:root {
	@each $name, $value in $colors {
		--color-#{$name}: #{$value};
		--color-#{$name}-dark: #{darken($value, 10%)};
		--color-#{$name}-darker: #{darken($value, 20%)};
		--color-#{$name}-light: #{lighten($value, 10%)};
		--color-#{$name}-lighter: #{lighten($value, 20%)};
		--gradient-#{$name}: #{linear-gradient(135deg, $value, adjust-hue(darken($value, 10%), 20deg))};
	}
}

body {
	background-color: color(background);
	color: color(text);
	font-family: 'Raleway';
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat'
}

@import 'misc';